<nav class="menu-overlay hidden">
  <ul>
    <li>
      <a class="button-square menu-home">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Home</li>
    <li>
      <a class="button-square menu-testing">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Testing</li>
    <li>
      <a class="button-square menu-lessons current">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Lessons</li>
    <li>
      <a class="button-square menu-statistics">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Statistics</li>
    <li>
      <a class="button-square menu-profile">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Profile</li>

  </ul>
</nav>

<button class="button-square button-menu-overlay">
  <svg
    width="800px"
    height="800px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    fill="none">
    <path
      stroke="#FFFFFF"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6H20M4 12H20M4 18H20" />
  </svg>
</button>