{% render 'partials/head.liquid', title: 'Tumi Mundo' %}

</body>

<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/testing">testing</a></li>
            <li><a href="/lessons">lessons</a></li>
            <li><a href="/statistics">statistics</a></li>
            <li><a href="/profile">profile</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <svg></svg>
        <h1>Today's listening</h1>
        <p>00:00</p>
        <h2>of your 5-minute goal</h2>
    </section>
    <section>
        <div>
            <p>hello, shall we start with a story?</p>
            <button></button>
            <a href="/lessons">let's do it</a>
        </div>
        <figure>
            <svg></svg>
        </figure>
    </section>
    <button>
        <svg></svg>
    </button>
</main>
</body>

</html>