{% render 'partials/head.liquid', title: 'Tumi Mundo' %}
    
</body>

<svg></svg>
<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/testing">testing</a></li>
        <li><a href="/lessons">lessons</a></li>
        <li><a href="/statistics">statistics</a></li>
        <li><a href="/profile">profile</a></li>
    </ul>
</nav>
<main>
<h1>Today's listening</h1>
<p>00:00</p>
<h2>of your 5-minute goal</h2>
</main>
</body>
</html>