{% render 'partials/head.liquid'
  , title: 'Lessons' %}

{% comment %} TEMPORARY: FOR TESTING PURPOSES {% endcomment %}
<link rel="stylesheet" href="/styles/style.css">

<body class="lessons">
{% comment %} END TEMPORARY {% endcomment %}
 
<nav class="menu-overlay hidden">
  <ul>
    <li>
      <a class="button-square">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Home</li>
    <li>
      <a class="button-square">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Testing</li>
    <li>
      <a class="button-square current">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Lessons</li>
    <li>
      <a class="button-square">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Statistics</li>
    <li>
      <a class="button-square">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none">
          <path
            stroke="#000000"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 18c0 1.105-1.12 2-2.5 2S4 19.105 4 18s1.12-2 2.5-2 2.5.895 2.5 2zm0 0V7l11-3v11m0 0c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
        </svg>
      </a>Profile</li>

  </ul>
</nav>

<button class="button-square button-menu-overlay">
  <svg
    width="800px"
    height="800px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    fill="none">
    <path
      stroke="#FFFFFF"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6H20M4 12H20M4 18H20" />
  </svg>
</button>

<main>
  <header>
    <h1>Lessons</h1>
  </header>

  <ol class="progress">
    <li>Listening</li>
    <li>First words</li>
  </ol>

  <section>
    <h2>
      <a href="">Recommended Stories</a>
    </h2>

    <ul class="list-grid">
      {% for story in stories %}
        {% render 'partials/story-card.liquid'
          , story: story %}
      {% else %}
        <p>No stories found.</p>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>
      <a href="">Your Playlists</a>
    </h2>

    <ul class="list-horizontal">
      {% for playlist in yourPlaylists %}
        {% render 'partials/playlist-card.liquid'
          , playlist: playlist %}
      {% endfor %}

      <li class="playlist-card-vertical">
        <a href="">
          <img
            class="plus"
            src="assets/times.svg"
            alt=""
            height="144"
            width="144">
        </a>
        <h3>Make a playlist!</h3>
        <p>Add your favorite stories in one playlist.</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>
      <a href="">All Stories</a>
    </h2>

    <ul class="list-horizontal">
      <li>
        <a href="/stories/filter?language=1" class="button-standard white">English</a>
      </li>
      <li>
        <a href="/stories/filter?language=2" class="button-standard white">Dutch</a>
      </li>
    </ul>

    <ul class="list-grid">
      {% for story in stories %}
        {% render 'partials/story-card.liquid'
          , story: story %}
      {% else %}
        <p>No stories found.</p>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>
      <a href="">Liked Playlists</a>
    </h2>

    <ul class="list-horizontal">
      {% for playlist in likedPlaylists %}
        {% render 'partials/playlist-card.liquid'
          , playlist: playlist
          , action: "unlike" %}
      {% else %}
        <li>No playlists found.</li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>
      <a href="">Suggested Playlists</a>
    </h2>

    <ul class="list-horizontal">
      {% for playlist in suggestedPlaylists %}
        {% render 'partials/playlist-card.liquid'
          , playlist: playlist
          , action: "like" %}
      {% else %}
        <li>No playlists found.</li>
      {% endfor %}
    </ul>
  </section>
</main>