    <section class="pinguin-image">
      <img src="/assets/penguin.png" alt="penguin-image">
    </section>
    <section class="main-text">
      <h1>Penguin snow adventures</h1>
      <p>All the stories about Loeky! Here are all Daan’s favorite stories that he can listen to before bed time or at the start of the day.</p>
    </section>

    <section class="section-title">recommended</section>

