{% render 'partials/head.liquid'
  , title: 'Lessons' %}

<main>
  <a href="/lessons">Back</a>
  <label><input type="checkbox">Night mode</label>

  <picture>
    <img src="https://fdnd-agency.directus.app/assets/{{ story.image.id | default: "" }}" alt="{{ story.image.title }}">
  </picture>


  {% if story.audio[0].audio_file %}
    <p class="previous-subtitle"></p>
    <p class="subtitle"></p>

    <audio
      controls
      crossorigin="anonymous"
      src="https://fdnd-agency.directus.app/assets/{{ story.audio[0].audio_file }}">
      <track
        default
        kind="captions"
        srclang="en"
        src="https://fdnd-agency.directus.app/assets/{{ story.audio[0].transcript_file }}" />
    </audio>
  {% else %}
    <p>No audio was found for this story.</p>
  {% endif %}
</main>

<script>
  // https://stackoverflow.com/questions/23475335/subtitles-for-audio-with-track-how-to-display-the-subtitles
  document.querySelector('audio').textTracks[0].addEventListener('cuechange', function() {
  document.querySelector('.previous-subtitle').innerText = document.querySelector('.subtitle').innerText;
  document.querySelector('.subtitle').innerText = this.activeCues[0].text;
  });
</script>

{% render 'partials/foot.liquid' %}