* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    color: white;
}

body.lessons {
    /* fallback */
    background: #471871;
    background: var(--background-method);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    width: max-content;
    margin: 1rem auto;
}


h2 {
    padding-inline-start: 1rem;
    min-width: max-content;
}

.playlist-card-vertical {
    list-style: none;
    background-color: white;
    color: black;

    display: grid;
    grid-template-areas:
    "image image"
    "title title"
    "playtime form";

    height: 18rem;
    width: 11rem;
    padding: 1rem;

    >picture {
        grid-area: image;
        object-fit: cover;
    }

    >h3 {
        grid-area: title;
        height: 2lh;
    }

    p {
        grid-area: playtime;
    }

    form {
        grid-area: form;
        justify-self: end;
    }
}